
<!-- 1)Form-template driven form- created using diective ngForm,ngModel-useful for simple form - need to import formModule &  2) reactive form-used for complex form
      ngModel-bind the value of html control(input ,select,textarea)
    In a one Formroup there is FormControl
    ngModelGroup=we can create nested form/it will create and binds a formGroup instance to a DOM element
    -->


<!-- server kadun data alyvarch html render zale pahije -->
<div *ngIf="empArr">
    <table>
        <p>Hi, Welcome to angular</p>
    </table>
</div>
<!-- grouping form control -->
<!-- by using ngModelGroup-we can create nested form /create and binds a formGroup instance to a DOM Elemment -->


<h1>@Template form lecture-2</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-left rounded shadow py-5">

            <div>
                <h2>Simple Form</h2>
            </div>

            <form #myForm="ngForm" (ngSubmit)="OnSubmit(myForm)">
                <!-- create nested form using ngModelGroup
                # -template reference variable madhe nested group chi information aste -->
                <div ngModelGroup="userDetail" #userDetail="ngModelGroup">
                <div class="form-group">
                    <label for="username">UserName</label>
                    <input required type="text" class="form-control" id="username" name="username" 
                        placeholder="Enter username" [(ngModel)]="username">
<!-- two data binding for user name is -->
<small *ngIf="username">User Name is:{{username}}</small>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input email required type="text" class="form-control" id="email" name="email" ngModel
                        placeholder="Enter email" #email="ngModel" >
<small class="text-danger" *ngIf="!email.valid && email.touched">Enter Valid Email</small>
                </div>
                <small *ngIf="!userDetail.valid && userDetail.touched ">Please enter valid details</small>
            </div>
                <div class="form-group">
                    <label for="course">Select course</label>
                    <select  (change)="getCousrse" name="course" id="course" class="form-control" [ngModel]="defaultCourse"> 
                        <option [value]="course" *ngFor="let course of courseArr" >
                            {{course}}
                        </option>
                    </select>
                    </div>
                    <label for="">Select Gender</label>

<div class="form-group" *ngFor="let gender of genders">
    <label for="{{gender.id}}" class="custom-control-label">{{gender.value}}</label>
<input  type="radio" id="{{gender.id}}" value="{{gender.value}}" name="gender" class="custom-control-input" [ngModel]="defaultGenderValue">
</div>

                    <button type="submit" class="btn btn-primary">Submit</button>
            </form>


        </div>
    </div>
</div>