/* Password Generator component styles */
.password-generator {
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
    background-color: #73d9f6;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .password-generator h2 {
    margin-top: 0;
    font-size: 2em;
    text-align: center;
    color: #333;
  }
  
  .password-generator .input-group {
    margin-bottom: 15px;
  }
  
  .password-generator label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 1.1em;
    font-weight: bold;
    color: #333;
  }
  
  .password-generator input[type="number"],
  .password-generator input[type="checkbox"] {
    margin-left: 10px;
    vertical-align: middle;
  }
  
  .password-generator button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 1.2em;
    font-weight: bold;
    color: #010101;
    background-color: #e484dc;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .password-generator button:hover {
    background-color: #9aa10d;
  }
  
  .password-generator .output-group {
    margin-top: 20px;
    text-align: center;
  }
  
  .password-generator .output-group label {
    font-size: 1.1em;
    font-weight: bold;
    color: #333;
  }
  
  .password-generator .output-group input[type="text"] {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 1.2em;
    color: #333;
    background-color: #fff;
    border: 2px solid #2196F3;
    border-radius: 5px;
  }
  
  .error-message {
    color: red;
    font-weight: bold;
    margin-top: 5px;
  }
  