<h1>@Passward Generator Application</h1>
<div class="password-generator">
    <h2>Password Generator</h2>
    
    <div>
        <label>Enter Length:</label>
        <input type="number" [(ngModel)]="passwordLength">
        <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
      </div>
      
      

    <div class="check-group">
      <input type="checkbox" [(ngModel)]="includeNumbers" id="includeNumbers">
      <label for="includeNumbers">Use Numbers</label>
    </div>

    <div class="check-group">
      <input type="checkbox" [(ngModel)]="includeLetters" id="includeLetters">
      <label for="includeLetters">Use Letters</label>
    </div>
    <div class="check-group">
      
      <input type="checkbox" [(ngModel)]="includeSymbols" id="includeSymbols">
      <label for="includeSymbols">Use Symbols</label>
    </div>
  
    <button (click)="generatePassword()">Generate Password</button>
  
    <div class="generated-password" *ngIf="generatedPassword">
      <label>Your Password :</label>
      <input type="text" readonly [value]="generatedPassword">
    </div>
  </div>
  