.ng-container{
  display:flex;
  flex-direction: column;
  padding: 10px ;
  margin-top: 20px;
  justify-content: center;
  text-align: center;
}

/* filter option */

.filter-container {
  margin-bottom: 20px;
color: #060606;
font-size: 20px;
}

.filter-container label {
  margin-right: 10px;
}

.filter-container select {
  padding: 5px;
}


.table {
    display: inline-table;
    justify-content: center;
    border: 1px solid black;
    width: 100%;
  }
  
  
  .table td {
    justify-content: center;
    padding: 12px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    border-bottom: 1px solid black;
  }
  
  .table th {
    font-size: 25px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #58c9f6;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
    font-size: 15px;
  }
  
  .table tbody tr:hover {
    background-color: #e2e2e2;
  }

  .status-completed {
    color: #28a745;
    font-weight: bold;
  }
  
  .status-pending {
    color: #ffc107;
    font-weight: bold;
  }
  

  #delete-btn {
    padding: 6px 12px;
    background-color: #fc6d45;
    color: #fff;
    border: 1px solid brown;
    margin-left: 10px;
    border-radius: 14px;
    cursor: pointer;
  }
  
  #delete-btn:hover {
    background-color: #ff0404;
  }
  
  .edit-btn{
    padding: 10px 20px;
    margin-left: 10px;
    align-items: start;
    background-color: #2d3efd;
    color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
  }
  .edit-btn:hover {
    background-color: #04c0ff;
  }