<h1>@Reactive Form Lecture- 1</h1>

<div class="container">
    <div class="row justify-content-center">

        <div class="col-md-6 text-left rounded shadow py-5">
            <div><h2>Reactive Form</h2></div>
            <form [formGroup]="myReactiveForm" (ngSubmit)="OnSubmit()">
                <div class="form-group">
                    <label for="username">UserName</label>
                    <input type="text" class="form-control" formControlName="username" placeholder="Enter user name">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" formControlName="email" placeholder="Enter Email">
                    <small class="text-danger"
                        *ngIf="!myReactiveForm.get('email').valid && myReactiveForm.get('email').touched">Please enter
                        valid email</small>
                </div>
                <div class="form-group">
                    <label for="course">Select Course</label>
                    <select formControlName="course" class="form-control">
                        <option value="Angular">Angular</option>
                        <option value="HTML">HTML</option>
                        <option value="JavaScript">JavaScript</option>

                    </select>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-radio" *ngFor="let gender of genders">
                        <input class="custom-control-input" type="radio" formControlName="gender"
                            value="{{gender.value}}" id="{{gender.id}}">
                        <label for="{{gender.id}}">{{gender.value}}</label>
                    </div>

                </div>
                <button class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
</div>